<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookhouse Checklist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
  </head>
  <body>
    <main id="app">
      <button @click="onButtonClick">Load data</button>
      <section class="section">
        <div class="container">
          <h1 class="title">Cookhouse Checklist</h1>
          <br />
          <div class="field">
            <label class="label">Cookhouse</label>
            <div class="select is-fullwidth">
              <select v-model="selectedCookhouse" @change="onCookhouseChange">
                <option v-for="cookhouse in cookhouseList" :key="cookhouse">
                  {{cookhouse}}
                </option>
              </select>
            </div>
          </div>
          <div class="field">
            <label class="label">Date</label>
            <div class="select is-fullwidth">
              <select v-model="selectedResponse">
                <option v-for="response in filteredResponseByCookhouseList"
                        :key="response[0].data"
                        :value="response">
                  {{response[3].data}} {{response[4].data}}
                </option>
              </select>
            </div>
          </div>
          <div class="card" v-if="selectedResponse">
            <div class="card-content">
              <p class="title">Response Data</p>
              <hr />
              <table class="table is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th>Question</th>
                    <th>Response</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in selectedResponse" :key="item.title">
                    <td>{{item.title}}</td>
                    <td>{{item.data}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="https://apis.google.com/js/api.js"></script>
    <script>
      const v = new Vue({
        el: "#app",
        data() {
          return {
            sheetDataArray: [],
            columnTitleArray: [],
            responseArray: [],
            cookhouseList: null,
            selectedResponse: null,
            selectedCookhouse: null,
          };
        },
        computed: {
          filteredResponseByCookhouseList() {
            let retArray = [];
            if (this.selectedCookhouse) {
              retArray = this.responseArray.filter(
                (res) => res[1].data === this.selectedCookhouse
              );
            }
            return retArray;
          },
        },
        async created() {
          await gapi.load("client:auth2", function () {
            gapi.auth2.init({ client_id: "130635014491-sq1i1octhrpj3u5eegkq11vqssgha5aq.apps.googleusercontent.com" });
          });
        },
        methods: {
          onButtonClick(){
            this.authenticate().then(this.loadClient).then(this.execute).then(this.afterLogin);
          },
          afterLogin() {
            this.cookhouseList = new Set();
            this.setColumnTitleArray();
            this.setResponsesArray();
          },
          setColumnTitleArray() {
            // We have a max of 97 possible options thus we stop after retrieving the first 97 columns of the first row
            v.columnTitleArray = v.sheetDataArray[0];
          },
          setResponsesArray() {
            // We want to break the responses down to individual objects before placing them in responseArray
            // We start at 97 as the elements before are titles
            // We start at row 2 as the first row contains titles
            let currRow = "2";
            let tmpObjArray = [];
            for (let row = 1; row < v.sheetDataArray.length; row++) {
              this.responseArray.push([]);
              for (let j = 0; j < v.sheetDataArray[row].length; j++) {
                let tmpObj = {
                  title: v.sheetDataArray[0][j],
                  data: v.sheetDataArray[row][j],
                };
                this.responseArray[row - 1].push(tmpObj);
                if (v.sheetDataArray[0][j] === "Cookhouse") {
                  this.cookhouseList.add(v.sheetDataArray[row][j]);
                }
              }
            }
          },
          onCookhouseChange() {
            this.selectedResponse = null;
          },
          authenticate() {
            return gapi.auth2.getAuthInstance()
              .signIn({ scope: "https://www.googleapis.com/auth/spreadsheets.readonly" })
              .then(function () { console.log("Sign-in successful"); },
                function (err) { console.error("Error signing in", err); });
          },
          loadClient() {
            gapi.client.setApiKey("AIzaSyCFG3Jua0zPU_rcZPUpseT1v5L5JA5wuog");
            return gapi.client.load("https://sheets.googleapis.com/$discovery/rest?version=v4")
              .then(function () { console.log("GAPI client loaded for API"); },
                function (err) { console.error("Error loading GAPI client for API", err); });
          },
          // Make sure the client is loaded and sign-in is complete before calling this method.
          execute() {
            return gapi.client.sheets.spreadsheets.values.get({
              "spreadsheetId": "1zjfuX-bzprgiDvV0l0sIHEGCgzT9xRafL4Swu7kbIjI",
              "range": "A:CS",
              "dateTimeRenderOption": "FORMATTED_STRING",
              "majorDimension": "ROWS",
              "valueRenderOption": "FORMATTED_VALUE"
            })
              .then(function (response) {
                // Handle the results here (response.result has the parsed body).
                v.sheetDataArray = response.result.values.filter((row) => row.length > 1);
            },
              function (err) { console.error("Execute error", err); });
          }
        },
      });
    </script>
  </body>
</html>
